.btn {
    margin-right: 5px
}

.table-blue {
    background-color: #90caf9 !important;
    color: #000;
    &:hover {
        background-color: #64b5f6;
    }
}
.btn-add {
    margin: 1.0933333333rem 0 0.656rem 0;
}